
/* font: Raleway - already linked in html, so can use here */

html {
    font-size: 62.5%; /* 1rem = 10px - use rem */
}

body {
    display: flex;
    align-content: center;
    justify-content: center;

    padding: 0;
    margin: 0;
    height: 100vh;

    background-color: #191D32;

    font-family: 'Raleway', sans-serif;
}

button {
    cursor: pointer;
}
button:focus,
button:active {
    outline: none;
}

.card {
    width: 40rem;
    padding: 2rem;
    margin: auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0, 1.0);
}

.card-title {
    color: #282F44;
    font-size: 2rem;
}
.card-title.correct {
    text-align: center;
    color: #56A589;
    font-weight: bold;
}
.card-title.wrong {
    text-align: center;
    color: #DB6F6F;
    font-weight: bold;
}

.option {
    display: block;

    width: 100%;
    padding: 1rem;
    margin: 1rem 0;

    font-size: 1.6rem;

    border: 2px solid #E8D284;
    /*border: 2px solid #BEE9E8;*/
    /*border: 2px solid #62B6CB;*/
    border-radius: 5px;
    background-color: #FFFFFF;

    cursor: pointer;
}

.option:hover {
    color: #ffffff;
    background-color: #E8D284;
}

.option.correct {
    /* green correct */
    color: #56A589;
    border-color: #56A589;
}

.option.wrong {
    /* red correct */
    color: #DB6F6F;
    border-color: #DB6F6F;
}

.option.wrong:hover,
.option.correct {
    background-color: inherit;
}

.card-header {
    display: flex;
}
.card-title + .card-title {
    margin-left: 1rem;
}

.card-footer {
    text-align: center;
}
.card-footer button {
    font-size: 1.4rem;
    color: #ffffff;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    background-color: #62B6CB;
}
